.dashboard-main-container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 10px;

    .dashboard-select-container {
        align-self: center;
        justify-self: center;

        label {
            font-weight: 600;
        }
    }

    .dashboard-filter-container {
        margin: 10px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .col-input {
            display: flex;
            flex-direction: column;
        }
    }

    .dashboard-graph-container {
        width: 90vw;
        height: 80vh;
        min-height: 300px;

    }

}