@font-face {
    font-family: 'rubik';
    src: url(../../assets/fonts/Rubic/Rubik-Regular.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-BlackItalic.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-Bold.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-BoldItalic.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-ExtraBold.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-ExtraBoldItalic.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-Italic.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-Light.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-LightItalic.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-Medium.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-MediumItalic.ttf);
    src: url(../../assets/fonts/Rubic/Rubik-SemiBoldItalic.ttf);
}