.header-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: black;
    margin: 0 0 50px 0;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    align-items: center;
    
.app-name{
    font-size: 40px;
    color: bisque;
    font-family: caveat;
    margin: 0;
}

    .header-nav-bar{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-content: center;

        .link-item{
            margin: 0px 20px ;
        }
    }
}